/* ***** */
/* GALLERY STYLES */
/* ***** */
/*Overlay styles*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111111fa;
  transition: opacity 1000ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.open {
  visibility: visible;
  opacity: 1;
}
/*Popup window styles*/
.popup {
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  z-index: 10;
  max-width: 70%;
  height: auto;
  overflow: hidden;
}
.popup img {
  margin: 0 auto;
  opacity: 0;
  width: 100%;
  height: auto;
  display: none;
  visibility: visible;
  width: 100%;
  border: 3px solid;
  border-color: #98721a;
  border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    outline: 0;
    position: relative
}
/*Buttons styles*/
.popup span#close {
  position: fixed;
  top: 60px;
  right: 20px;
  transition: all 200ms;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  z-index: 100;
  cursor: pointer;
}
.popup span#next {
  position: fixed;
  top: 50%;
  right: 30px;
  transition: all 200ms;
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  z-index: 100;
  cursor: pointer;
}
.popup span#prev {
  position: fixed;
  top: 50%;
  left: 30px;
  transition: all 200ms;
  font-size: 70px;
  font-weight: bold;
  color: #fff;
  z-index: 100;
  cursor: pointer;
}
.popup .play_wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transition: all 200ms;
  padding-bottom: 30px;
  padding-top: 35px;
  opacity: 0;
  z-index: 100;
}
.popup .play_wrap:hover{
  opacity: 1;
  background-color: rgba(204,204,204, 0.8);
}
.popup .play_wrap span {
  font-size: 60px;
}
.popup .play_wrap span#stop {
  display: none;
}
.popup .play_wrap span#play:hover, .popup .play_wrap span#stop:hover {
  color: #1F6FEB;
  cursor: pointer;
}
.popup .play_wrap span i {
  margin-left: 5px;
  cursor: pointer;
  transition: all 200ms;
  color: #fff;
}
.popup span#next:hover, .popup span#prev:hover, .popup span#close:hover {
  color: #1F6FEB;
  border-color: #1F6FEB;
}
/* ***** */
/* PAGE STYLES */
/* ***** */
.wrap {
    display: flex;
    max-width: 100%;
    margin: 50px
}
.gallery {
  
  /* display: flex; */
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
}
.gallery img {
  width: calc(100% * (1/4) - 10px - 1px);
  height: auto;
  margin-bottom: 15px;
  cursor: pointer;
}
.gallery .gallery_block img:last-child {
  margin-right: 0;
}
.gallery .gallery_block {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
