{% extends 'layout_manager.html' %}

{% block title %}Add Technique{% endblock %}

{% block content %}

<div class="layout-content-body">
  <div class="title-bar">
		<h1 class="title-bar-title">
		  <span class="d-ib">Add Technique</span>
		</h1>
  </div>
  <form data-toggle="md-validator" action="{{url_for('add_tech')}}" method="POST">
		<div class="row">
		  <div class="col-sm-6 col-sm-offset-3">
				<div class="demo-md-form-wrapper">
				
				<div class="md-form-group">
						<input class="md-form-control" type="text" name="name" id="name" placeholder="Technique Name">
				</div>

				<div class="md-form-group">
						<input class="md-form-control" type="text" name="link" id="link" placeholder="Link (youtube)">
				</div>
				
				<div class="md-form-group">
						<input class="md-form-control" type="text" name="description" id="description" placeholder="Description">
				</div>

				<button class="btn btn-default btn-block" type="submit">Add Meal Option</button>
				</div>
		</div>
		</div>
  </form>
</div>

{% endblock %}