{% extends 'layout_manager.html' %}

{% block title %}Add Client{% endblock %}

{% block content %}

<div class="layout-content-body">
	<div class="title-bar">
	  <h1 class="title-bar-title">
			<span class="d-ib">Add Client</span>
	  </h1>
	</div>
	<form data-toggle="md-validator" action="{{url_for('add_client')}}" method="POST">
	  <div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		  <div class="demo-md-form-wrapper">
			<div class="md-form-group">
			  <div class="row">
				<div class="col-xs-6">
				  <div class="md-form-group">
					<input class="md-form-control" type="text" name="name" id="name" placeholder="Name">
					<label class="md-control-label"></label>
				  </div>
				</div>
				<div class="col-xs-6">
				  <div class="md-form-group">
					<input class="md-form-control" type="text" name="surname" id="surname" placeholder="Surname">
					<label class="md-control-label"></label>
				  </div>
				</div>
			  </div>
			</div>
			<div class="md-form-group">
			  <input class="md-form-control" type="text" name="email" id="email" placeholder="Email">
			  <label class="md-control-label"></label>
			</div>
			<div class="md-form-group">
			  <input class="md-form-control" type="password" name="password" id="password" placeholder="Password">
			  <label class="md-control-label"></label>
			</div>
			<button class="btn btn-default btn-block" type="submit">Add Client</button>
		  </div>
		</div>
	  </div>
	</form>
</div>

{% endblock %}