{% extends 'layout_client.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">Change Password</span>
    </h1>
  </div>
  <form data-toggle="md-validator" action="{{url_for('change_password')}}" method="POST">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="demo-md-form-wrapper">
                  
          <div class="md-form-group">
            <input class="md-form-control" type="password" name="newpass" id="newpass" minlength="6" placeholder="New Password" required>
            <label class="md-control-label"></label>
          </div>
          
          <button class="btn btn-default btn-block" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}