{% extends 'layout_client.html' %}

{% block title %}Client Profile{% endblock %}

{% block content %}

<div class="profile">
  <div class="profile-header">
    <div class="profile-cover">
      <div class="profile-container">
        <div class="profile-card">
          <div class="profile-avetar">
            <img class="profile-avetar-img" width="128" height="128" src="../static/img/user.jpg" alt="Teddy Wilson">
          </div>
          <div class="profile-overview">
            <h1 class="profile-name">{% for row in data %}{{row['name']}}'s Profile{% endfor %}</h1>
            <a class="profile-follow-btn" href ="{{url_for('edit_profile')}}">Edit Profile</a>
            <p>Genesis Fitness Client<a class="link-inverted"></a></p>
          </div>
        </div>
        <div class="profile-tabs">
          <ul class="profile-nav">
            <li><a onclick="openTab('Profile')">Profile</a></li>
            <li><a onclick="openTab('Trainings')">Trainings</a></li>
            <li><a onclick="openTab('Diets')">Diets</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

          
<div class="profile-body">
  <div class="card-body">

    <div id="Profile" class="tab">
      <div class="profile-container">
        {% for row in data %}<h1>{{row['name']}}'s Profile</h1>{% endfor %}
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="card-actions">
              <button type="button" class="card-action card-toggler" title="Collapse"></button>
              <button type="button" class="card-action card-reload" title="Reload"></button>
              <button type="button" class="card-action card-remove" title="Remove"></button>
            </div>
            <strong>Client</strong>
          </div>
          <div class="card-body" data-toggle="match-height">
            <table class="table table-striped">
              <tr>
                {% for row in data %}
                <th colspan="6">Serial: </th>
                <td colspan="6">{{row['client_id']}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for row in assigned_manager %}
                <th colspan="6">Manager: </th>
                <td colspan="6">{{row['name']}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for row in data %}
                <th colspan="6">Ime: </th>
                <td colspan="6">{{row['name']}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for row in data %}
                <th colspan="6">Prezime: </th>
                <td colspan="6">{{row['surname']}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for row in data %}
                <th colspan="6">Email: </th>
                <td colspan="6">{{row['email']}}</td>
                {% endfor %}
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="card-actions">
              <button type="button" class="card-action card-toggler" title="Collapse"></button>
              <button type="button" class="card-action card-reload" title="Reload"></button>
              <button type="button" class="card-action card-remove" title="Remove"></button>
            </div>
            <strong>Basics</strong>
          </div>
          <div class="card-body" data-toggle="match-height">
            <table class="table table-striped">
              <tr>
                {% for row in data %}
                <th colspan="6">Ime: </th>
                <td colspan="6">{{row['name']}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for basic in data3 %}
                <th colspan="6">Pol: </th>
                <td colspan="6">{{basic['pol']}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for basic in data3 %}
                <th colspan="6">Rodenden: </th>
                <td colspan="6">{{basic['godini']}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for basic in data3 %}
                <th colspan="6">Visina: </th>
                <td colspan="6">{{basic['visina']}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for basic in data3 %}
                <th colspan="6">Tezina: </th>
                <td colspan="6">{{basic['tezina']}}</td>
                {% endfor %}
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="card-actions">
              <button type="button" class="card-action card-toggler" title="Collapse"></button>
              <button type="button" class="card-action card-reload" title="Reload"></button>
              <button type="button" class="card-action card-remove" title="Remove"></button>
            </div>
            <strong>Characteristics</strong>
          </div>
          <div class="card-body" data-toggle="match-height">
            <table class="table table-striped">
              <tr>
                {% for row in data3 %}
                <th colspan="6">Alergii: </th>
                <td colspan="6">{{row['alergija']}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for basic in data3 %}
                <th colspan="6">Netolerantnost: </th>
                <td colspan="6">{{basic['netolerantnost']}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for basic in data3 %}
                <th colspan="6">Odbivnost: </th>
                <td colspan="6">{{basic['odbivnost']}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for basic in data3 %}
                <th colspan="6">Zaboluvanja: </th>
                <td colspan="6">{{basic['zaboluvanja']}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for basic in data3 %}
                <th colspan="6">Iskustvo: </th>
                <td colspan="6">{{basic['iskustvo']}}</td>
                {% endfor %}
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-actions">
              <button type="button" class="card-action card-toggler" title="Collapse"></button>
              <button type="button" class="card-action card-reload" title="Reload"></button>
              <button type="button" class="card-action card-remove" title="Remove"></button>
            </div>
            <strong>Daily Routine</strong>
          </div>
          <div class="card-body" data-toggle="match-height">
            

            <table id="demo-datatables-buttons-2" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Routine Name</th>
                  <th>Time</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for row in data5 %}
                <tr>
                  <td>{{row['dailyRoutineName']}}</td>
                  <td>{{row['routineTime']}}</td>
 
                  {% if row['GrosName'] != None %}

                  <td>
                    {{row['GrosName']}}
                  </td>
                  {% else %}
                  <td>
                    {{row['trainingName']}} - {{row['trainingDescription']}} / Serii: {{row['serii_povt']}}
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
     
    <div id="Trainings" class="tab" style="display: none">
      <div class="profile-container">
        {% for row in data %}<h1>{{row['name']}}'s Training List</h1>{% endfor %}
      </div>
      <div class="panel m-b-lg">
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a href="#trainingtoday" data-toggle="tab">Today</a></li>
          <li><a href="#trainingtomorrow" data-toggle="tab">Tomorrow</a></li>
          <li><a href="#trainingweek" data-toggle="tab">Week</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active in" id="trainingtoday">
            <strong>Today</strong>
          </div>
          <div class="tab-pane fade" id="trainingtomorrow">
            <strong>Tomorrow</strong>
          </div>
          <div class="tab-pane fade" id="trainingweek">
            <strong>Week</strong>
          </div>
        </div>
      </div>
    </div>

      
    <div id="Diets" class="tab" style="display: none">
      <div class="profile-container">
        {% for row in data %}<h1>{{row['name']}}'s Diet List</h1>{% endfor %}
      </div>
      <div class="panel m-b-lg">
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a href="#dietToday" data-toggle="tab">Today</a></li>
          <li><a href="#dietTomorrow" data-toggle="tab">Tomorrow</a></li>
          <li><a href="#dietWeek" data-toggle="tab">Week</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade active in" id="dietToday">
            <strong>Today</strong>
          </div>
          <div class="tab-pane fade" id="dietTomorrow">
            <strong>Tomorrow</strong>
          </div>
          <div class="tab-pane fade" id="dietWeek">
            <strong>Week</strong>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}