{% extends 'layout_client.html' %}

{% block title %}Client Schedules{% endblock %}

{% block content %}

<div class="layout-content-body">
  <div class="title-bar">
    <h1 class="title-bar-title">
      <span class="d-ib">All Schedules</span>
    </h1>
  </div>
  <div class="row gutter-xs">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-header">
          <div class="card-actions">
            <button type="button" class="card-action card-toggler" title="Collapse"></button>
            <button type="button" class="card-action card-reload" title="Reload"></button>
            <button type="button" class="card-action card-remove" title="Remove"></button>
          </div>
          <strong>Clients Schedules List</strong>
        </div>
        <div class="card-body">
          <table id="demo-datatables-buttons-1" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Seq.</th>
                <th>Budenje</th>
                <th>Zaspivanje</th>
                <th>Rabota / Shkolo</th>
                <th>Pauzi</th>
                <th>Trening</th>
                <th>Cardio</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for schedule in data %}
              <tr>
                <td>{{schedule['schedule_id']}}</td>
                <td>{{schedule['stanuvanje']}}</td>
                <td>{{schedule['legnuvanje']}}</td>
                <td>{{schedule['rabota']}}</td>
                <td>{{schedule['pauzi']}}</td>
                <td>{{schedule['trening']}}</td>
                <td>{{schedule['cardio']}}</td>
                <td>{{schedule['description']}}</td>
                <td>
                  <a href="/delete_schedule/{{schedule['schedule_id']}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete the schedule?')">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}