{% extends 'layout_manager.html' %}

{% block title %}Show Clients{% endblock %}

{% block content %}

<div class="layout-content-body">
  <div class="title-bar">
		<h1 class="title-bar-title">
		  <span class="d-ib">All Clients</span>
		</h1>
  </div>
  	<div class="row gutter-xs">
			<div class="col-xs-12">
	  		<div class="card">
					<div class="card-header">
		  			<div class="card-actions">
							<button type="button" class="card-action card-toggler" title="Collapse"></button>
							<button type="button" class="card-action card-reload" title="Reload"></button>
							<button type="button" class="card-action card-remove" title="Remove"></button>
		 				</div>
		  			<strong>Clients List</strong>
					</div>
					<div class="card-body">
		  			<table id="demo-datatables-buttons-2" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0" width="100%">
							<thead>
			  				<tr>
									<th>Seq.</th>
									<th>Name / Surname</th>
									<th>Email</th>
			  					 
									<th>Action</th>
									<th>Profile</th>
			  				</tr>
							</thead>
							<tbody>
			  				{% for row in data %}
			  				<tr>
									<td>{{row['client_id']}}</td>
									<td>{{row['name']}} {{row['surname']}}</td>
									<td>{{row['email']}}</td>
									<td>
				  					<a href="/delete_client/{{row['client_id']}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete the client?')">Delete</a>
									</td>
									<td>
				  					<a href="/clients_profile/{{row['client_id']}}" class="btn btn-default btn-xs">Profile</a>
									</td>
			  				</tr>
			  				{% endfor %}
							</tbody>
		  			</table>
					</div>
	  		</div>
			</div>
		</div>
  </div>
</div>

{% endblock %}