{% extends 'layout_client.html' %}

{% block title %}Client Profile{% endblock %}

{% block content %}

<div class="layout-content-body">
  <div class="title-bar">
		<h1 class="title-bar-title">
		  <span class="d-ib">All Trainings</span>
		</h1>
  </div>
  <div class="row gutter-xs">
		<div class="col-xs-12">
	  	<div class="card">
				<div class="card-header">
		  		<div class="card-actions">
						<button type="button" class="card-action card-toggler" title="Collapse"></button>
						<button type="button" class="card-action card-reload" title="Reload"></button>
						<button type="button" class="card-action card-remove" title="Remove"></button>
		  		</div>
		  		<strong>Trainings List</strong>
				</div>
				<div class="card-body">
		  		<table id="demo-datatables-buttons-2" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0" width="100%">
						<thead>
			  			<tr>
								<th>Seq.</th>
								<th>Name</th>
								<th>Serii / Povtoruvanja</th>
								<th>Vezba Link</th>
								<th>Technique</th>
								<th>Technique Link</th>
								<th>Description</th>
								<th>Action</th>
			  			</tr>
						</thead>
						<tbody>
			  			{% for training in data %}
							<tr>
				  			<td>{{training['training_id']}}</td>
				  			<td>{{training['name']}}</td>
				  			<td>{{training['serii_povt']}}</td>
				  			<td>{{training['link_vezba']}}</td>
				  			<td>{{training['tech']}}</td>
				  			<td>{{training['link_tech']}}</td>
				  			<td>{{training['description']}}</td>
				  			<td>
									<a href="/delete_training/{{training['training_id']}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete the training?')">Delete</a>
				  			</td>
							</tr>
			  			{% endfor %}
						</tbody>
		  		</table>
				</div>
	  	</div>
		</div>
  </div>
</div>

{% endblock %}