{% extends 'layout_manager.html' %}

{% block title %}Show Recepts{% endblock %}

{% block content %}

<div class="layout-content-body">
  <div class="title-bar">
		<h1 class="title-bar-title">
		  <span class="d-ib">All Recepts</span>
		</h1>
  </div>
  <div class="row gutter-xs">
		<div class="col-xs-12">
	  	<div class="card">
				<div class="card-header">
		  		<div class="card-actions">
						<button type="button" class="card-action card-toggler" title="Collapse"></button>
						<button type="button" class="card-action card-reload" title="Reload"></button>
						<button type="button" class="card-action card-remove" title="Remove"></button>
		  		</div>
		  		<strong>Recepts List</strong>
				</div>
				<div class="card-body">
		  		<table id="demo-datatables-buttons-2" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0" width="100%">
						<thead>
			  			<tr>
								<th>Seq.</th>
								<th>Name</th>
								<th>Description</th>
								<th>Link</th>
								<th>Action</th>
			  			</tr>
						</thead>
						<tbody>
			  			{% for recept in data %}
			  			<tr>
								<td>{{recept['recept_id']}}</td>
								<td>{{recept['name']}}</td>
								<td>{{recept['description']}}</td>
								<td>{{recept['link']}}</td>
								<td>
				  				<a href="/delete_recept/{{recept['recept_id']}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete the recept?')">Delete</a>
								</td>
			  			</tr>
			  			{% endfor %}
						</tbody>
		  		</table>
				</div>
	  	</div>
		</div>
  </div>
</div>

{% endblock %}